/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    font-family: 'Lexend Mega', sans-serif;
    height: 100vh;
    background: #171b1e;
    margin: 0;
}

nav > div {
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.5px;
    background: #2b3237;
}
.main-div-for-button{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    margin-top:5rem;
}
#compareMe {
    border: none;
    color: white;
    margin:auto;
    background: #ee1144;
    width: 230px;
    height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    transition: background 0.3s;
}
#clear{
    width:100px;
    margin:auto;
    margin-top:1rem;
    text-transform:uppercase;
}
#compareMe:hover {
    background: #ca0633;
}
.main-partial-div {
    background: #171b1e;
    margin-top: 50px;
    min-height: 500px;
}
.partial-div {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
}
.input-div {
    background: #2b3237;
    color: white;
    width:500px;
    min-height:500px;
    margin:auto;
}
    .input-div > input {
        padding: 0 2%;
        background: #171b1e;
        border: none;
        width: 100%;
        height: 50px;
        font-size: 1rem;
        border: 1px solid black;
        color: #d73359;
        outline: none;
    }

.middle-one {
    width: 5%;
    background: #171b1e;
}
.output {
    height: 87%;
    margin: 3% 2% 0 2%;
    color: white;
}
.p-out {
    margin-bottom: 2rem;
}
.red{
     color:#ee1144;
}
.info{
    margin-bottom:5px;
}
.kind-of-footer {
    text-align: center;
    color: white;
    margin-top: 30px;
    height:70px;
    width:100%;
}
.kind-of-footer>p{
    width: 59.5%;
    margin-left: auto;
    text-align: left;
}
.p-details {
    width: 90%;
    margin-left: auto;
    text-align: left;
    margin-bottom:0;
}
#Length-footer{
    margin-bottom:0;
}
.latin-letters {
    position: fixed;
    color: white;
    bottom: 0;
    right: 0;
    font-size:12px;
}
@media (max-width:1200px){
    .latin-letters{
        display:none;
    }
}